h1 {
  text-align: center;
  color: rgb(116, 201, 241);
}
div{
  color: red;
  background-image: url(https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
  background-repeat: no-repeat;
  text-align: center;
}


